.field-checkbox {
  display: flex;
  align-items: center;
  height: 30px;
  outline: 1px dashed tomato;
}

.field-checkbox+.field-checkbox {
  margin-top: 11px;
}

.field-checkbox__input {
  display: none;
}

.field-checkbox__label {
  position: relative;
  margin-left: 46px;
  font: 400 16px/18px $primary-font;
  color: $black;
  text-transform: uppercase;
  white-space: nowrap;
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: -6px;
    left: -46px;
  }
  &::before {
    width: 30px;
    height: 30px;
    border: 1px solid $grey-60;
  }
  &::after {
    width: 10px;
    height: 20px;
    transform: scale(0) translate(10px, 3px) rotate(0);
    transition: transform 0.28s ease-in;
  }
}

.field-checkbox__input:checked~.field-checkbox__label::after {
  border-right: 2px solid $primary-color;
  border-bottom: 2px solid $primary-color;
  transform: scale(1) translate(10px, 3px) rotate(45deg);
}

@media (min-width: $tablet-width) {
  .field-checkbox+.field-checkbox {
    margin: 0;
  }
  .field-checkbox {
    height: 62px;
    width: 45.5%;
    margin: 0;
    margin-bottom: 10px;
    &:nth-child(odd) {
      margin-right: 9%;
    }
  }
  .field-checkbox__label {
    margin-left: 60px;
    font: 400 20px/20px $primary-font;
    &::before,
    &::after {
      top: -10px;
      left: -60px;
    }
    &::before {
      width: 40px;
      height: 40px;
    }
    &::after {
      width: 10px;
      height: 20px;
    }
  }
  .field-checkbox__input:checked~.field-checkbox__label::after {
    transform: scale(1) translate(15px, 8px) rotate(45deg);
  }
}

@media (min-width: $desktop-width) {
  .field-checkbox {
    height: 52px;
    width: 20.1%;
    margin-bottom: 10px;
    &:nth-child(odd) {
      margin-right: 0;
    }
  }
  .field-checkbox__label {
    font: 400 20px/20px $primary-font;
  }
}
