.main-footer {
  padding: 0 20px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background-color: $grey-50;
  & > *+* {
    border-top: 1px solid $grey-60;
  }
}

.main-footer__logo {
  width: 100%;
}

.main-footer__socials {
  width: 100%;
}

.main-footer__copyright {
  width: 100%;
}
