.field-radio {
  display: flex;
  align-items: center;
  height: 34px;
  outline: 1px dashed tomato;
}

.field-radio+.field-radio {
  margin-top: 9px;
}

.field-radio__input {
  display: none;
}

.field-radio__label {
  position: relative;
  margin-left: 46px;
  font: 400 16px/18px $primary-font;
  color: $black;
  text-transform: uppercase;
  white-space: nowrap;
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: -8px;
    left: -46px;
    border-radius: 50%;
  }
  &::before {
    width: 30px;
    height: 30px;
    border: solid 1px $grey-60;
  }
  &::after {
    width: 30px;
    height: 30px;
    background-color: $primary-color;
    transform: scale(0);
    transition: 0.28s;
  }
}

.field-radio__input:checked~.field-radio__label::after {
  transform: scale(0.4);
}

@media (min-width: $tablet-width) {
  .field-radio {
    height: 52px;
    width: 100%;
  }
  .field-radio+.field-radio {
    margin-top: 0;
  }
  .field-radio__label {
    margin-left: 68px;
    font: 400 20px/20px $primary-font;
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: -8px;
      left: -60px;
      border-radius: 50%;
    }
    &::before {
      width: 40px;
      height: 40px;
      border: solid 1px $grey-60;
    }
    &::after {
      width: 40px;
      height: 40px;
      background-color: $primary-color;
      transform: scale(0);
      transition: 0.28s;
    }
  }
}

@media (min-width: $desktop-width) {
  .field-radio {
    height: 52px;
  }
  .field-radio__label {
    font: 400 20px/20px $primary-font;
  }
}
