.map {
  width: 100%;
  background-color: $grey-50;
  @media (min-resolution: $retina-dpi), (min-resolution:$retina-dppx) {
    background-image: url("../img/bg-map-mobile@2x.jpg");
  }
  background-image: url("../img/bg-map-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  &--bg-white {
    background-color: white;
  }
  .wrapper {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
  }
}

.map__address {
  display: flex;
  flex-flow: row nowrap;
  padding: 0;
  padding-top: 30px;
  padding-bottom: 24px;
}

.map__address-lead {
  width: 45%;
  margin: 0;
  margin-right: 5%;
  font: 400 16px/20px $primary-font;
  text-transform: uppercase;
}

.map__address-subject {
  width: 50%;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
}

.map__address-street {
  display: block;
}

.map__address-city {
  display: block;
}

.map__map-frame {
  width: 100%;
  height: 360px;
  border: none;
}

@media (min-width: $tablet-width) {
  .map {
    @media (min-resolution: $retina-dpi), (min-resolution:$retina-dppx) {
      background-image: url("../img/bg-map-tablet@2x.jpg");
    }
    background-image: url("../img/bg-map-tablet@1x.jpg");
  }
  .map__address {
    justify-content: space-between;
    padding: 50px 40px;
  }
  .map__address-lead {
    width: 25%;
    margin: 0;
    margin-right: 5%;
    font: 400 20px/25px $primary-font;
  }
  .map__address-subject {
    width: 25%;
    margin: 0;
    padding: 0;
    font: normal 16px/20px $secondary-font;
    font-style: normal;
    text-align: right;
  }
  .map__address-street {
    margin-bottom: 20px;
  }
  .map__map-frame {
    height: 396px;
  }
}

@media (min-width: $desktop-width) {
  .map {
    @media (min-resolution: $retina-dpi), (min-resolution:$retina-dppx) {
      background-image: url("../img/bg-map-desktop@2x.jpg");
    }
    background-image: url("../img/bg-map-desktop@1x.jpg");
  }
  .map__map-frame {
    height: 395px;
  }
  .map__address {
    position: absolute;
    top: 50%;
    width: 42%;
    padding: 60px 0;
    padding-left: 36px;
    transform: translateY(50%);
    background-color: white;
  }
  .map__address-lead {
    width: 43%;
    margin: 0;
    margin-right: 14%;
    padding-left: 40px;
  }
  .map__address-subject {
    width: 43%;
    margin: 0;
    padding: 0;
    padding-right: 40px;
    font: normal 16px/20px $secondary-font;
    font-style: normal;
    text-align: left;
  }
}
