.special-offer {
  display: flex;
  flex-flow: column nowrap;
  margin: 0;
  margin-top: 40px;
  margin-bottom: 35px;
  justify-content: space-between;
  align-items: center;
  height: 288px;
  background-color: $primary-color;
  @media (min-resolution: $retina-dpi), (min-resolution:$retina-dppx) {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
  }
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.special-offer__icon {
  margin-top: 65px;
  width: 60px;
  height: 60px;
  fill: white;
}

.special-offer__lead {
  margin: 0;
  margin-bottom: 40px;
  font: normal 16px/20px $secondary-font;
  color: white;
  text-align: center;
  width: 60%;
}

@media (min-width:$tablet-width) {
  .special-offer {
    flex-flow: row nowrap;
    margin: 0;
    margin-top: 70px;
    margin-bottom: 90px;
    padding: 60px 90px;
    justify-content: space-between;
    align-items: center;
    height: 200px;
    background-color: $primary-color;
    @media (min-resolution: $retina-dpi), (min-resolution:$retina-dppx) {
      background-image: url("../img/gift-photo-tablet@2x.jpg");
    }
    background-image: url("../img/gift-photo-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .special-offer__icon {
    margin: 0;
    margin-bottom: 10px;
    width: 60px;
    height: 60px;
    fill: white;
  }

  .special-offer__lead {
    margin: 0;
    margin-right: 10px;
    text-align: left;
    width: 35%;
  }
}

@media (min-width:$desktop-width) {
  .special-offer {
    position: absolute;
    top: 0;
    right: 40px;
    flex-flow: column nowrap;
    margin: 0;
    padding:40px 30px;
    align-self: flex-end;
    width: 18.9%;
    height: 290px;
    @media (min-resolution: $retina-dpi), (min-resolution:$retina-dppx) {
      background-image: url("../img/gift-photo-desktop@2x.jpg");
    }
    background-image: url("../img/gift-photo-desktop@1x.jpg");
  }
  .special-offer__icon {
    margin: 0;
    margin-top: 28px;
    fill: white;
  }

  .special-offer__lead {
    margin: 0;
    width: 100%;
    text-align: center;
  }
}
